node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
/config/
/.vscode/
/testingKoszyk.spec.test
/auth.json
/session.json
/planner.chatmode.md
/generator.chatmode.md
/healer.chatmode.md