node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
/config/
/.vscode/
/testingKoszyk.spec.test
/auth.json
/session.json
/planner.chatmode.md
/generator.chatmode.md
/healer.chatmode.md
/.github/
/auth/
/factory/product-factory.ts
/factory/product-ui-helper.ts
/pages/addProduct.page.ts
/tests/account-with-session.spec.ts
/tests/api/order.api.spec.ts